@page
@model ProyectoBase.Pages.Menu.FicPersonas.fic_seg_expira_clave.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>¿Estas seguro de querer borrar esta clave?</h3>
<div>
    <h4>Información</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id Usuario:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.IdUsuario)
        </dd>
        <dt>
            Expira Inicio:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.FechaExpiraIni)
        </dd>
        <dt>
            Expira Fin:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.FechaExpiraFin)
        </dd>
        <dt>
            Actual:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.Actual)
        </dd>
        <dt>
            Clave:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.Clave)
        </dd>
        <dt>
            Clave Auto Sys:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.ClaveAutoSys)
        </dd>
        <dt>
            Fecha Registro:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.FechaReg)
        </dd>
        <dt>
            Ultimo Modificación:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.FechaUltMod)
        </dd>
        <dt>
            Usuario que registró:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.UsuarioReg)
        </dd>
        <dt>
            Usuario que modifico:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.UsuarioMod)
        </dd>
        <dt>
            Activo:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.Activo)
        </dd>
        <dt>
            Borrado:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seg_expira_clave.Borrado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="seg_expira_clave.IdClave" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-warning">Atras</a>
    </form>
</div>
